@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}
.row{
  @apply flex;
}

.col{
  @apply flex flex-col;
}

.row-center{
  @apply flex items-center justify-center;
}

.col-center{
  @apply flex flex-col items-center justify-center text-center;
}

body{
  @apply  text-white;
}
.mask-image{
  mask-image: linear-gradient(black 50%, transparent);
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full{
  @apply w-full h-full
}